.portfolio {
  padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}

.portfolio-images {
  /* display: flex; aici aranjam pozele sa fie una dupa alta si gapul dintre ele, clasa fiind pusa pe ul ce contine toate pozele */
  gap: 30px;
}

.portfolio-subtitle-container {
  margin-bottom: 44px; /* aici mut slider si subtitlu cu 44 px sa le dau distanta */
}
